@use "sass:math";

:root {
  --board-background-color: #e40200;
  --button-background-color: rgba(255, 255, 255, 1);
  --button-hover-background-color: #fff;
  --button-text-color: #e11605;
  --cell-border-color: #ddd;
  --text-color: #333;
  --button-hover-color: rgb(20, 19, 19);

  --wavy-mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDQwIDMyMCI+PHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0wLDE2MEw0OCwxNjUuM0M5NiwxNzEsMTkyLDE4MSwyODgsMTgxLjNDMzg0LDE4MSw0ODAsMTcxLDU3NiwxNzAuN0M2NzIsMTcxLDc2OCwxODEsODY0LDE4Ni43Qzk2MCwxOTIsMTA1NiwxOTIsMTE1MiwxOTJDMTI0OCwxOTIsMTM0NCwxOTIsMTM5MiwxOTJMMTQ0MCwxOTJMMTQ0MCwwTDEzOTIsMEMxMzQ0LDAxMjQ4LDAsMTE1MiwxMjQ4LDAxMDU2LDAsOTYwLDA4NjQsMCw3NjgsMCw1NzYsMCw0ODAsMCwzODQsMCwyODgsMCwxOTIsNDgsMS45IiAvPjwvc3ZnPg==");
}

$margin-generic: 10px;
$border-radius-generic: 8px;

// General Styles
body {
  font-family: Montserrat, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $margin-generic;
  text-align: center;
  border-radius: $border-radius-generic;
}

.board {
  display: grid;
  gap: 0;
  background-color: var(--board-background-color);
  border: 2px solid var(--cell-border-color);
  border-radius: $border-radius-generic;
  grid-template-columns: repeat(14, $margin-generic * 5);
  grid-template-rows: repeat(7, $margin-generic * 5);
  mask-image: var(--wavy-mask);
  mask-size: 0.11%;

  .boardCell {
    box-sizing: border-box;
    border: 1px solid var(--cell-border-color);
    width: $margin-generic * 5;
    height: $margin-generic * 5;
    position: relative;
  }

  .robotCell {
    background-image: url("../../../public/assets/robot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  @keyframes breaking {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(0.8) rotate(10deg);
    }
  }
  .lostRobot {
    animation: breaking 3s forwards;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: $margin-generic;
  margin-top: $margin-generic;

  button {
    background-color: var(--button-hover-color);
    border: 1px solid var(--cell-border-color);
    color: var(--button-hover-background-color);
    cursor: pointer;
    font-size: $border-radius-generic * 2;
    padding: $margin-generic $margin-generic * 2;

    &:hover {
      background-color: var(--button-background-color);
      border: 2px solid var(--button-text-color);
      border-radius: math.div($border-radius-generic, 2);
      color: var(--button-text-color);
    }

    &:disabled {
      background-color: #666;
      color: rgb(205, 157, 157);
      border-color: var(--button-hover-background-color);
      cursor: not-allowed;
    }
  }
}

.currentPosition {
  display: inline-block;
  margin-top: $margin-generic;
  padding: $margin-generic;
  font-size: 18px;
  text-align: center;
  background-color: var(--button-text-color);
  color: var(--button-background-color);
  border-radius: $border-radius-generic;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
  }
}

h1 {
  background-image: url("../../../public/assets/title-bg-image.png");
  color: var(--button-hover-background-color);
  font-family: Bitter, sans-serif;
  font-weight: 800;
  mask-image: var(--wavy-mask);
  mask-size: 4%;
}

.warningNotification {
  background-color: #fdd;
  color: #d44;
  padding: $margin-generic;
  margin-top: $margin-generic;
  border-radius: $border-radius-generic;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: $border-radius-generic * 2;
}
