:root {
  --board-background-color: #e40200;
  --button-background-color: #000;
  --button-hover-background-color: #fff;
  --cell-border-color: #ddd;
  --text-color: #333;
}

$marginGeneric: 10px;
$borderRadiusGeneric: 8px;

// Container Styles
.container {
  align-items: center;
  border-radius: $borderRadiusGeneric;
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  justify-content: center;
  padding: $marginGeneric;
  text-align: center;
}

// Board Styles
.board {
  background-color: var(--board-background-color);
  border: 2px solid var(--cell-border-color);
  border-radius: $borderRadiusGeneric;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(14, $marginGeneric * 5);
  grid-template-rows: repeat(7, $marginGeneric * 5);
}

// Board Cell Styles
.boardCell {
  box-sizing: border-box;
  border: 1px solid var(--cell-border-color);
  height: $marginGeneric * 5;
  position: relative;
  width: $marginGeneric * 5;
}

// Button Styles
.buttons {
  display: flex;
  gap: $marginGeneric;
  justify-content: center;
  margin-top: $marginGeneric;
}

button {
  background-color: var(--button-background-color);
  border: none;
  border-radius: $borderRadiusGeneric / 2;
  color: var(--button-hover-background-color);
  cursor: pointer;
  font-size: $borderRadiusGeneric * 2;
  padding: $marginGeneric $marginGeneric * 2;

  &:hover {
    background-color: var(--button-hover-background-color);
    border: 1px solid var(--cell-border-color);
    color: var(--text-color);
  }

  &:disabled {
    background-color: #666;
    cursor: not-allowed;
  }
}

// Current Position Styles
.currentPosition {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: $borderRadiusGeneric;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-top: $marginGeneric;
  padding: $marginGeneric;
  text-align: center;
}

// Robot Cell Styles
.robotCell {
  background-image: url("../../../public/assets/robot.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.warningNotification {
  background-color: #fdd;
  color: #d44;
  padding: $marginGeneric;
  margin-top: $marginGeneric;
  border-radius: $borderRadiusGeneric;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: $borderRadiusGeneric * 2;
}
